@model EvidencePojisteniPlnaVerze.Models.Insurance

@{
    ViewData["Title"] = "Create";
}

<h1>Nové pojištění</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="TypeInsurance" class="control-label"></label>
            <input asp-for="TypeInsurance" class="form-control" />
            <span asp-validation-for="TypeInsurance" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="SubjectInsurance" class="control-label"></label>
            <input asp-for="SubjectInsurance" class="form-control" />
            <span asp-validation-for="SubjectInsurance" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="ValidFrom" class="control-label"></label>
            <input asp-for="ValidFrom" class="form-control" />
            <span asp-validation-for="ValidFrom" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="ValidUntil" class="control-label"></label>
            <input asp-for="ValidUntil" class="form-control" />
            <span asp-validation-for="ValidUntil" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-4 py-1">
            <label asp-for="InsuredId" class="control-label"></label>
            <select asp-for="InsuredId" class="form-control" asp-items="ViewBag.InsuredId"></select>
        </div>
        <div class="row">

            <div class="form-group col-sm-12 col-md-6 col-lg-4 py-2">
                <input type="submit" value="Uložit" class="btn btn-success w-100" />
            </div>
        </div>
</form>